<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Name" value="Mconsole" />
    <add key="FactoryNameKey" value="Ctrl+Alt+G" />
    <add key="MicDefaultNGKey" value="Ctrl+Alt+F12" />
    <add key="VirtualDevNameKey" value="Ctrl+Alt+N" />
    <add key="UnLockAdminPwdKey" value="Alt+Shift+U" />
    <add key="VUInterval" value="100" />
    <add key="DefaultLanguage" value="3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="Language" value="1,2,3" />
    <add key="HideDevChar" value="(H)" />
    <add key="ShowSubnetmask" value="T" />
    <add key="Homepage" value="" />
    <add key="TCPScanTime" value="3" />
    <add key="EnableGroupControl" value="F" />
    <add key="ThemeEnable" value="0" />
    <add key="SyncGroupChannel" value="T" />
    <add key="ShowLv2Menu" value="T" />
    <add key="ShowArchiveName" value="T"/>
    <add key="Programname" value="OSD PRO" />
	  <add key="InStandyByChangeTime" value="8"/>
	  <add key="OutStandyByChangeTime" value="3"/>
    <add key="Async" value="T" />
    <add key="AMPParaSwttingKey" value="Ctrl+Alt+P" />
    <add key="LimitMore" value="F"/>
    <add key="IsTesting" value="F"/>
    <add key="IsChanCopyFIRData" value="T"/>
    <add key="LogLevel" value="INFO"/>
    <add key="LogFileSize" value="5"/>
    <add key="AsyncTcpLog" value="F"/>
    <add key="ShowDecoration" value="F"/>
    <add key="DecorationContent" value="Mconsole"/>
	<add key="AESconsole" value="T"/>
	<add key="ShowAMP" value="T"/>
	<add key="DisplayOutput" value="T"/>
	<add key="RemovePresetsPWD" value="8888"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <AppContextSwitchOverrides value="Switch.MS.Internal.DoNotInvokeInWeakEventTableShutdownListener=true"/>
  </runtime>
</configuration>